# For dune build
*.install
*.merlin
/_build

# For 'old_build'
old_build/.depend
old_build/*.cm[aioxt]
old_build/*.cmti
old_build/*.cmx[as]
old_build/*.[ao]
old_build/*.so
old_build/*~
old_build/*.inc
old_build/generate
old_build/pyml.h
old_build/pyml_libdir.ml
old_build/pyml_compat.ml
old_build/pyml_arch.ml
old_build/pywrappers.mli
old_build/pywrappers.ml
old_build/pymlutop
